<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>


 <!-- FORMULARIO DE VIAJE  -->
 <!-- usuario registra su viaje, guarda viaje en la lista de viejes -->
 <div data-th-fragment="reserva" class="container" align="center" >
 <h1>Reserva de viaje</h1>

 <!--<form th:action="@{/guardarConductor}"  th:object="${nuevoConductor}" method="post"> --> 
<form data-th-object="${nuevoConductor}" data-th-action="@{/guardarConductor}" method="post">	
  <br>
  <div class="col-sm-6">
    <label for="codigo" class="form-label">Codigo del conductor:</label>
    <input type="text" class="form-control" id="codigo" required/>
  </div>
  <br>
  <div class="col-sm-6">
  <label for="tipoViaje" class="form-label">Tipo de viaje</label>
    <select id="tipoViaje" class="form-select"  aria-label="Default select example">
		  <option selected></option>
		  <option value="1">corta</option>
		  <option value="2">media</option>
		  <option value="3">larga</option>
		</select>
  </div>
  
  <br>
  <button type="submit" class="btn btn-primary">Guardar viaje</button>
</form>
 </div>

</body>
</html>